.header {
  background-color: #ccc;
}

.header div {
  height: 100%;
}

.header .logo {
  width: 100%;
}

.header h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .logout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  height: 100%;
}

.aside ul {
  height: 100%;
  border-right: none;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #eee;
}
