<div>
  <!-- 面包屑 -->
  <el-row>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
  </el-row>

  <!-- 添加角色的按钮 -->
  <el-row style="margin: 10px 0">
    <el-button type="warning" @click="addRole = true">添加角色</el-button>
  </el-row>

  <!-- 表格 -->
  <el-row>
     <el-table
      :data="roleList"
      style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-row
            v-for="level1 in props.row.children"
            :key="level1.id">
            <el-col :span="4">
              <el-tag @close="delRightsById(props.row.id, level1.id)" closable>
                {{level1.authName}}
              </el-tag>
            </el-col>
            <el-col :span="20">
              <el-row
                v-for="level2 in level1.children"
                :key="level2.id">
                <el-col :span="4">
                  <el-tag @close="delRightsById(props.row.id, level2.id)" closable type="warning">
                    {{level2.authName}}
                  </el-tag>
                </el-col>
                <el-col :span="20" style="margin-bottom: 10px">
                  <span
                    v-for="level3 in level2.children"
                    :key="level3.id">
                    <el-tag @close="delRightsById(props.row.id, level3.id)" style="margin: 0 10px" closable type="success">
                      {{level3.authName}}
                    </el-tag>
                  </span>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column
        label="#"
        type="index"
        width="40">
      </el-table-column>
      <el-table-column
        prop="roleName"
        label="角色名称"
        width="180">
      </el-table-column>
      <el-table-column
        prop="roleDesc"
        label="描述"
        width="180">
      </el-table-column>
      <el-table-column
        label="操作"
        min-width="220">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="dark" content="编辑" placement="left">
            <el-button size="mini" type="primary" @click="roleUpdate(scope.row)" icon="el-icon-edit" circle></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="删除" placement="top">
            <el-button size="mini" type="danger" @click="delRole(scope.row)" icon="el-icon-delete" circle></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="分配权限" placement="right">
            <el-button size="mini" type="success" @click="rightsEvent(scope.row)" icon="el-icon-check" circle></el-button>
          </el-tooltip>
        </template>
      </el-table-column>
    </el-table>
  </el-row>


  <!-- 分配权限的对话框 -->
  <el-dialog
    title="分配权限"
    :visible.sync="rights"
    width="30%">
    <el-tree
      :data="rightsList"
      show-checkbox
      node-key="id"
      ref="roleTree"
      default-expand-all
      :default-checked-keys="defaultRights"
      :props="rightsObj">
    </el-tree>
    <span slot="footer" class="dialog-footer">
      <el-button @click="rights = false">取 消</el-button>
      <el-button type="primary" @click="addRights">确 定</el-button>
    </span>
  </el-dialog>

  <!-- 添加角色对话框 -->
  <el-dialog @close="close" title="添加角色" :visible.sync="addRole">
    <el-form class="dome-ruleForm" :rules="roleRules" ref="roleRule" :model="roleObj">
      <el-form-item label="角色名称" prop="roleName">
        <el-input v-model="roleObj.roleName" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="角色描述" prop="roleDesc">
        <el-input v-model="roleObj.roleDesc" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addRole = false">取 消</el-button>
      <el-button type="primary" @click="addRoleEvent('roleRule')">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 编辑角色对话框 -->
  <el-dialog @close="close" title="添加角色" :visible.sync="updateRole">
    <el-form class="dome-ruleForm" :rules="roleRules" ref="roleRule" :model="roleObj">
      <el-form-item label="角色名称" prop="roleName">
        <el-input v-model="roleObj.roleName" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="角色描述" prop="roleDesc">
        <el-input v-model="roleObj.roleDesc" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="updateRole = false">取 消</el-button>
      <el-button type="primary" @click="updateRoleEvent('roleRule')">确 定</el-button>
    </div>
  </el-dialog>
</div>
