.box {
  width: 600px;
  height: 300px;
  background-color: #fff;
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

button {
  margin-top: 30px;
  width: 100%;
}